# Dependencies
node_modules/
.pnp
.pnp.js

# Angular & Build artifacts
.angular/
dist/
tmp/
out-tsc/
bazel-out/
.turbo/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & Local overrides
.env
.env.local
.env.*.local

# IDE & Editors
.idea/
.project
.classpath
.c9/
*.launch
*.sublime-workspace
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS Files
.DS_Store
Thumbs.db
Desktop.ini

# Temporários
.docs/
